<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>ARC</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li><a href="/home">HOME</a></li>
            <li>
              <a href="/workouts">WORKOUTS<sup>AI</sup></a>
            </li>
            <li><a href="/hub">THE HUB</a></li>
            <li><a href="/about">ABOUT</a></li>
          </ul>
        </div>
        <a href="/" class="btn btn-ghost text-xl flex items-center">
          <img
            src="/THE_ARC-removebg-preview.png"
            alt="Logo"
            class="logo mr-2"
          />
        </a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/">HOME</a></li>
          <li>
            <a href="/workouts">WORKOUTS<sup>AI</sup></a>
          </li>
          <li><a href="/hub">THE HUB</a></li>
          <li><a href="/about">ABOUT</a></li>
        </ul>
      </div>
      <div class="navbar-end ml-4">
        <a class="btn" href="/workouts">GENERATE WORKOUT!</a>
      </div>
    </div>
    <div class="grid grid-cols-2 m-12">
      <div class="col-span-1">
        <h1 class="mission font-bold">OUR MISSION</h1>
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Pretium laoreet
          auctor molestie condimentum nibh. Porta convallis urna; potenti
          malesuada condimentum consequat. Nam etiam sapien phasellus, neque nam
          mi primis? Placerat iaculis ex ex aenean volutpat fusce. Enim magna ut
          ultricies viverra vivamus aenean. Semper donec donec litora lorem urna
          cras lorem. Convallis mattis cursus phasellus elit lobortis. Blandit
          quam sit tortor elit ipsum. Porttitor vel dolor vitae ultrices
          pellentesque. Fermentum dolor lobortis viverra vitae accumsan
          elementum at ligula. Porta molestie platea dis odio est condimentum
          libero. Tempor facilisi consectetur nec facilisi pharetra malesuada
          finibus donec sodales. Quisque mollis luctus erat turpis phasellus ac.
          Justo neque vitae pellentesque aenean curae. Tempor mollis pretium leo
          pretium tincidunt urna parturient conubia et. Commodo augue sagittis
          accumsan ullamcorper malesuada parturient eleifend viverra sagittis.
        </p>
      </div>
      <div class="col-span-1"></div>
    </div>
  </body>
</html>
