@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  font-family: 'Verdana', sans-serif;
  color: aliceblue;
  background-color: rgba(60, 65, 85, 0.13);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

:root {
  background-color: rgba(53, 56, 61, 0.986);
}
.navbar-start {
  width: 45%;
  justify-content: flex-start;
}

:where(.menu li) {
  margin-right: 1.5em;
}

.dropdown-content {
  color: black;
}

@media (hover: hover) {
  .menu li > *:not(ul, .menu-title, details, .btn):hover {
    background-color: rgba(19, 19, 49, 0.411);
  }
}

.text-xl {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  margin-left: 2em;
}

.mulish {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
  border-radius: 0;
  color: aliceblue;
  background-color: transparent;
  padding: 0px 5px 0px 5px;
  margin-right: 2em;
  height: auto;
}

.logo {
  height: 50px;
  padding: 4px;
}
body {
  color: aliceblue;
}

.mission {
  font-size: 40px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}
.radio {
  background-color: aliceblue;
}
.card {
  background-color: rgba(101, 106, 124, 0.459);
}
